[submodule "external/openssl"]
	path = external/openssl
	url = https://android.googlesource.com/platform/external/openssl
[submodule "external/safe-iop"]
	path = external/safe-iop
	url = https://android.googlesource.com/platform/external/safe-iop
[submodule "external/fdlibm"]
	path = external/fdlibm
	url = https://android.googlesource.com/platform/external/fdlibm
[submodule "external/expat"]
	path = external/expat
	url = https://android.googlesource.com/platform/external/expat
[submodule "external/icu4c"]
	path = external/icu4c
	url = https://android.googlesource.com/platform/external/icu4c
[submodule "external/zlib"]
	path = external/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "system/core"]
	path = system/core
	url = https://android.googlesource.com/platform/system/core
[submodule "libcore"]
	path = libcore
	url = https://android.googlesource.com/platform/libcore2
[submodule "dalvik"]
	path = dalvik
	url = https://android.googlesource.com/platform/dalvik2
[submodule "libnativehelper"]
	path = libnativehelper
	url = https://android.googlesource.com/platform/libnativehelper
[submodule "bionic"]
	path = bionic
	url = https://android.googlesource.com/platform/bionic
